$light-gray-color: #4b4a4a;
$medium-gray-color: #333;
$dark-gray-color: #1e1e1e;

$off-white-color: #ecf0f3;
$transparent-white-color: #ecf0f3a9;

$light-blue-color: #89ddff;
$dark-blue-color: #3c9cdb;

$neon-green-color: #00cdaf;
