@import 'colors.scss';

* {
	font-family: 'Press Start 2P', monospace;
}

html {
	background-color: $light-gray-color;
}

.home-hero {
	background-color: $dark-gray-color;
}

.navbar-logo {
	height: 40px;
	margin-top: 20px;
}

.main-logo {
	height: 80px;
}

.light-color {
	color: $off-white-color !important;
}

.dark-background-color {
	background-color: $medium-gray-color;
}

.light-background-color {
	background-color: $light-gray-color;
}

.main-packages {
	margin: 80px auto 0 auto;
	width: 635px;
	.title {
		text-align: left;
	}
}

a:hover {
	color: $neon-green-color !important;
}

.navbar-right-tabs {
	margin-top: 10px;
	ul li a {
		color: $light-blue-color;
		border-bottom: 0;
	}
}

.create-new-project .choose-project-id {
	.subtitle {
		margin-top: 60px;
	}
	margin-bottom: 30px;
}